@media only screen and (max-device-width : 1225px){
    .info-contain{
        width: 98%;
        margin: 0 auto;
    }    
}

@media only screen and (max-width : 1128px){
    .info-contain{
        width: 85%;
    }  
    .info{
        width: 45%;
        margin: 6rem 10% 0 0
    }

    .info:nth-of-type(1),
    .info:nth-of-type(2){
        margin-top: 0;
    }

    .info:nth-of-type(2){
        margin-right: 0;
    }
}

@media only screen and (max-width : 714px){
    .info-contain{
        width: 80%;
    }  
    .info{
        width: 100%;
        margin: 5rem 0 0 0;
    }
    canvas{
        display: none;
    }

    .head-virus{
        text-align: center ;
        margin: 0 auto;
        display: block;
    }

    .heading-box{
        margin: 7rem 0;
        position: static;
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }

    .info:nth-of-type(2){
        margin:5rem 0 0 0;
    }
}

@media only screen and (max-width:870px){
    .hero-news-cont{
        flex-wrap: wrap;
        width: 85%;
    }
    .hero-left,
    .hero-right{
        width: 100%;
        height: 30rem;
        margin: 0 0 4px 0 ;
    }

    .news-cards-container{
        width: 95%;
    }
    
    .title[data-size="small"]{
        font-size: 1.4rem;
        width: 100%;
    }

    .title[data-size="medium"]{
        font-size: 1.8rem;
        font-weight: 600;
        width: 70%;
    
    }

    .title[data-size="large"]{
        font-size: 2.3rem;
        font-weight: 600;
        width: 80%;
    }

    .source-box-cont{
        font-size: 0.9rem;
        
    }

    /* .popular:hover .source-box-cont{
        background-color: #5fc5bb60;
    } */

    .credits{
        margin-top:1.3rem;  
        font-size: 1.3rem;    
        font-weight: 400;
    }
    
    .credits span{
        font-size: 1.3rem;
        font-weight: 400;
        margin-right: 2rem;
    }



    /* .popular img{
        opacity: 0.5;
        transform: scale(1.16);
    }

    .popular:hover img{
        opacity: 0.5;
        transform: scale(1.16);
    } */


    
}


@media only screen and (max-width:600px){
    .hero-right--small .source-box-cont{
        display:none;
    }
    .hero-text-box{
        padding: 1rem;
    }
    
    .title[data-size="medium"]{
        font-size: 1.5rem;
        font-weight: 600;
        width: 80%;
    
    }

    .title[data-size="large"]{
        font-size: 1.9rem;
        font-weight: 600;
        width: 80%;
    }


    .title[data-size="small"]{
        font-size: 1.3rem;
        font-weight: 600;
        display: -webkit-box; 
        text-overflow: ellipsis; 
        overflow: hidden;
        -webkit-line-clamp: 7; 
        -webkit-box-orient: vertical; 
    }
    
}

@media only screen and (max-width:804px){
    .news-cards-container{
        width: 99%;
    }
    .news-card{
        
        width: 25rem;
        height:30rem;
        margin: 2rem 1rem;
    }

    .news-card .news-card-image-box{
        height: 35%;
        width: 100%;
    }

    .news-card .news-card-image-box img{
        height: 100%;
        width: 100%;
        
    }

    .news-card .news-card-text-box{
        height: 65%;
        width: 100%;
        padding: 1rem;
        line-height: 1.2;
        margin-top: 0rem;
    }

    .news-card .news-card-text-box h2.title{
        font-size: 1.3rem;
        letter-spacing: 0px;
        word-spacing: 0px;
        display: -webkit-box; 
        text-overflow: ellipsis; 
        overflow: hidden;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical; 
    }

    .news-card .news-card-text-box p.description{
        font-size: 1.2rem;
        color: #000;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 0.5rem;
        overflow: hidden;
        display: -webkit-box; 
        letter-spacing: 1px;
        word-spacing: 0px;
        text-overflow: ellipsis; 
        overflow: hidden;
        -webkit-line-clamp: 7; 
        -webkit-box-orient: vertical; 
    }

    .source{
       
        top: 8.5rem;
        right: 0;
        background-color: #5fc5bba4;
        font-weight: 600;
        padding:0.5rem 1rem;
        font-size: 1rem;
        color: #000;
        max-width: 14rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

    
    p.date{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    left:1.3rem;
    max-width: 10rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
}

@media only screen and (max-device-width : 1224px){
     .popular:hover .source-box-cont{
        background-color: #5fc5bb60;
    }

    .popular img{
        opacity: 0.5;
        -webkit-transform: scale(1.16);
                transform: scale(1.16);
    }

    .popular:hover img{
        opacity: 0.5;
        -webkit-transform: scale(1.16);
                transform: scale(1.16);
    }

    .news-card .news-card-image-box img{
        opacity: 0.8;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    

}



/* Portrait */
@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 823px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 823px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .info-contain{
        width: 85%;
    }  
    .info{
        width: 45%;
        margin: 6rem 10% 0 0
    }

    .info:nth-of-type(1),
    .info:nth-of-type(2){
        margin-top: 0;
    }

    .info:nth-of-type(2){
        margin-right: 0;
    }

    canvas{
        display: none;
    }

    .head-virus{
        text-align: center ;
        margin: 0 auto;
        display: block;
    }

    .heading-box{
        margin: 7rem 0;
        position: static;
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }

    

}   

@media only screen and (max-width:1160px){
    .container{
        width: 98%;
    }
}

@media only screen and (max-width:1024px){
    .container{
        width: 90%;
        flex-wrap: wrap;
    }

    .left-cont{
        width: 100%;
        margin-right: 0;
        margin-bottom: 9rem;
    }

    .map-graph{
        width: 100%;
    }
}

@media only screen and (max-width:560px){
    .table{
        width: 560px;
        overflow-x: scroll;
    }

    .row.heading{
        width: 560px;
        margin-top: 5rem;
    }

    .left-cont{
       overflow-y: hidden;
       overflow-x: visible;
       scrollbar-width: 0;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    .settings-strip span{
        position: unset;
        margin:0;
        margin-top: 1rem;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        
    }

    .toggle-btn-log{
        position: unset;
        -webkit-transform: translateY(10%) scale(0.8);
                transform: translateY(10%) scale(0.8);
    }

    h3.graph-heading{
        margin-right: 1rem;
        display: block;
    }



}

@media only screen and (max-width:340px){
    nav li{
        padding-right: 0.5rem;
    }
}